

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @user.name %> 様</h2>
    <% num = 0 %>
    <% @posts.each do |post|%>
      <% if @user.email == post.user.email %>
        <p>|<%= num+=1%>|もし、<%= post.if%><br>
        &nbsp;&nbsp;&nbsp;&nbsp;その時、その時、<%= post.then%>
        </p>
      <% end %>
    <% end %>
  </body>
</html>






<% @posts.each do |post|%>
  <% if @user.email == post.user.email %>
    <p>|<%= num+=1%>|もし、<%= post.if%></p>
    <p>その時、<%= post.then%></p>
  <% end %>
<% end %>
