
<div class="main">
  <div class="card devise-card">
    <div class="form-wrap">
      <%= form_for @post do |f| %>
        <div class="form-group">
            <%= f.label :if , "もし" %>
            <%= f.text_field :if ,class: "form-control" ,placeholder: "〜だったら" %>
        </div>

        <div class="form-group">
          <%= f.label :then , "その時" %>
          <%= f.text_field :then ,class: "form-control" ,placeholder: "〜する"%>
        </div>

        <div class="actions">
          <%= f.submit "更新", class: "btn btn-primary w-100" %>
        </div>
        <%= link_to "戻る", root_path, class:"btn"%>  
      <% end %>
    </div>
  </div>
  <%= link_to "削除", post_path(@post), method: :delete, class:"btn btn-danger" %>
</div>
